@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Rubik+Glitch+Pop&display=swap");
@import "reset.css"; /*브라우저가 기본으로 작업하는 스타일을 초기화하는 CSS파일*/
@import "variables.css";

/*Components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/alt-screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";

/*Screens*/
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";

body {
  color: #2e363e;
  font-family: "Noto Sans KR", "Rubik Glitch Pop", sans-serif;
}

.main-screen {
  padding: 0px var(--horizontal-space);
  padding-bottom: 15px;
}

.welcome-header {
  margin: 90px 0px;
  text-align: center; /*글자 정렬*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 500;
}
.welcome-header__text {
  width: 60%;
  color: #898686; /*오퍼시티로 회색 줌. color로 회색 줘도 돼*/
}
