.user-component {
  display: flex;
  justify-content: space-between;
}
.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 33%;
  margin-right: 20px;
}

.user-component__title {
  font-weight: 600;
  font-size: 22px;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: end;
}

.user-component__time {
  display: block;
  margin-bottom: 10px;
}

.user-component__warning-icon {
  margin-top: 3px;
  margin-left: 3px;
  color: red;
  width: 12px;
  height: 12px;
  border: 1px solid red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
